.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    background-color: #666666;
}

.header h1 {
    text-align: center;
    color: #e0e3e0;
    flex: 1;
}

.header-btn {
    text-decoration: none;
    padding: 0 10px 10px 5px;
    background-color: #666666;
    border-radius: 0 0 10px 10px;
    color: #e0e3e0;
    transform: translate(0, 50%);
}

.hd-left {
    display: flex;
    align-items: flex-end;
}

.hd-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.hd-left a{
    margin-right: 3px;
}

.hd-right a{
    margin-left: 3px;
}

.res-div {
    position: relative;
    margin-top: 30px;
    background: #4ac1f7;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    background: url("obraz.jpg") center;
    border: 1px solid #1b1b1b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.res-div a {
    padding-left: 5px;
    text-decoration: none;
    font-size: 24px;
    color: #1b1b1b;
    font-weight: bold;
    text-shadow: 4px 4px 8px #e0e3e0;
}

body {
    background-color: #777777;
}

#res-name {
    text-align: center;
    color: #e0e3e0;
}

.restaurant-view {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #4f4f4f;
    border: solid 1px #1b1b1b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.reserv-btn {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, 0);
    text-decoration: none;
    color: #e0e3e0;
    border: solid 1px #000000;
    border-radius: 10px;
    background-color: #222222;
    padding: 5px 10px;
}

.center-div {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    background-color: #4f4f4f;
    border: solid 1px #1b1b1b;
    padding: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 20%);
}

.center-div #submit {
    position: relative;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, 0);
}


.footer {
    position: fixed;
    font-size: 8px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: #e0e3e0;
    padding: 3px 6px;
}

.btn {
    text-decoration: none;
    background-color: #222222;
    color: #e0e3e0;
    border: 1px solid #1b1b1b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 5px 10px;
}

.tables {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
}

.table {
    background-color: sandybrown;
    border: 1px solid #1b1b1b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
    text-align: center;
}