<!DOCTYPE html>
<html lang="en">
<head>
    <title>Python Restaurants</title>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>

<div class="header">
    <div class="hd-left">
        <a href="/" class="header-btn">Restauracje</a>
        <a href="/support/" class="header-btn">Kontakt</a>
        {% if user.is_superuser %}
        <a href="/restaurant/add/" class="header-btn">Dodaj restauracje</a>
        <a href="/edit/" class="header-btn">Edytuj restauracje</a>
        {% endif %}
    </div>
    <h1 id="main-title">Python Restaurants</h1>
    <div class="hd-right">
        {% if user.is_authenticated %}
        <a href="/user_panel/" class="header-btn">Panel uzytkownika</a>
        <a href="/logout/" class="header-btn">Wyloguj</a>
        {% else %}
        <a href="/register/" class="header-btn">Zarejestruj</a>
        <a href="/login/" class="header-btn">Zaloguj</a>
        {% endif %}
    </div>
</div>

{% block content %}
{% endblock %}

<footer class="footer">
    <p>Piotr Paluga 2023 All rights reserved!</p>
</footer>
<script src="/static/js/base.js"></script>
</body>
</html>