{% extends "base.html" %}

{% block content %}
<h1 id="res-name">{{ restaurant.name }}</h1>
<div class="restaurant-view">
    <div class="res-view-left">
        <p>Godzina otwarcia: </p>
        <p>Pon - Czw: {{ hours.0 }} - {{ hours.1 }}</p>
        <p>Pt - Sob: {{ hours.2 }} - {{ hours.3 }}</p>
        <p>Nd: {{ hours.4 }} - {{ hours.5 }}</p>
        {% if user.is_superuser %}
        <a href="/restaurant/{{ restaurant.id }}/tables" class="btn">Zarządzaj stolikami</a>
        {% endif %}
        <a href="/restaurant/{{ restaurant.id }}/reservation" class="btn reserv-btn">Zarezerwuj Stolik</a>
    </div>
    <div class="res-view-right">
        <h3>Dane kontaktowe:</h3>
        <p>Adres: {{ restaurant.address }}</p>
        <p>Telefon: {{ restaurant.phone_number }}</p>
        <p>Email: {{ restaurant.email }}</p>
    </div>
</div>
{% endblock %}
